.cardTemplate{
    width: 350px;
    height: 400px;
    margin: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.cardTitleBg{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-top: -1em;
}

img{
    width: 363px;
    height: 67%;
    border-radius: 1em;
}

.eventDate{
    color: red;
    text-align: center;
    margin: 0px;
    margin-bottom: 2px;
}

.eventPlace{
    text-align: center;
    margin: 0px;
    margin-bottom: 2px;
}