.pic-component-container{
    /* border-style: solid; */
    border-color: black;
    float: left;
    width: 49%;
    height:85vh;
    /* overflow: auto; */
    
    /* text-align: center; */
    justify-content: center;
    /* display: flex; */
}