.Form-control{
    /* padding: 5px;    */
    margin: 5px;
}

#forget-passowrd-link{
    margin-right: 10px;
}

.input-box{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgba(229, 229, 229, 1);
    border: 0.5px;
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
}

.login-form{
    margin-left: auto;
    margin-right: auto;
    padding: 7%;
    padding-top: 5%;
    padding-bottom: 5%;

    background-color: white;
    border-radius: 15px;

    /* border-style: groove; */
    /* border-color: black; */
    
}

.bottom-box{
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

#login-btn{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;

    font-size: medium;
}

#create-acc-btn{
    color: white;
    font-weight: bold;
    background-color: rgba(255, 194, 41, 1);
}