.Searcher{
    margin-left: 30%;
    margin-top: 20px;
}

.backG {
    background-image: url("../asset/MeetmitrBgNoHead.png"); /* The image used */
    background-color: #FAF3E7; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    height: 100%;
}