.login-page-desc{
    display: flex;
    flex: 50;
    justify-content: center;
    border-style:groove;
    border-color: crimson;
    margin: 5px;

    text-align: center;
    align-content: center;
    flex-direction: column;
}

#meetmitr-desc{
    display: inline-block;
    width: 80%;
    color: brown;
}
