.container {
  display: flex;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  background-color: #f4ede0;
  flex-direction: row;
}
.pic {
  display: flex;
  background-image: url("../asset/event_sample.png");
  background-color: blue;
  background-size: cover;
  flex: 4;
}
.detail {
  flex: 6;
}
.header {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
}
.header-left {
  border-right: 1px solid #000000;
  padding-right: 20px;
}
.header-left h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #000000;
  line-height: 0px;
}
.header-left p {
  font-size: 30px;
  font-weight: medium;
  font-family: "Roboto", sans-serif;
  color: #c72200;
  line-height: 0px;
}
.header-right {
  margin-left: 20px;
}
.header-right p {
  font-size: 30px;
  font-weight: medium;
  font-family: "Roboto", sans-serif;
  color: #000000;
  line-height: 0px;
}
.header-right p span {
  font-size: 30px;
  font-weight: medium;
  font-family: "Roboto", sans-serif;
  color: #c72200;
  line-height: 0px;
}
.logo {
  height: 66px;
  width: 60px;
  margin: 25px;
}
